$color: white;
$cardColor: whitesmoke;


.movieCard {
    display: flex;

}

.movieImg {
    background-color: $cardColor;
}

.main-card {
    background-color: $cardColor;
}

.card-body {
    background-color: $cardColor;
}