.fav-card {
    display: flex;
    margin-top: 10px;
}

a {
    appearance: none;
}


.update-profile-button,
.back-button,
.remove-fav-button,
.unregister-button {
    margin-right: 10px;
    margin-top: 10px;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #202c86 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    //font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.back-button:focus,
.remove-fav-button:focus,
.unregister-button:focus,
.update-profile-button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.back-button:hover,
.remove-fav-button:focus,
.unregister-button:focus,
.update-profile-button:focus {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

/* responsive classes should be at the end of sheet, so that they can overwrite.
 This @media  allows for the specification of rules to screen sizes*/

/* @supports (display: grid) {

    .fav-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        margin: 50px;
    }
}

@media all and (max-width: 500px) {
    .fav-group {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .fav-group {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .fav-group {
        grid-gap: 10px;
    }
} */